/* Common style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f8ff;
}

/* Font family */
.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}

/* color */
.orange {
    color: #E95A08;
}
.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4em;
}
.gray{
    color: #8987A1;
}
.white{
    color: white;
}
/* flex/grid/align */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.center{
    text-align: center;
}
.align {
    max-width: 1140px;
    margin: 0 auto;
}

/* Shared styles */
.sec-header{
    font-weight: 700;
    font-size: 3.1em;
    margin-bottom: 16px;
}
.btn{
    height: 50px;
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: #3f3129;
}
.sec-margin-top{
    margin-top: 120px;
}
.none{
    text-decoration: none;
}
.black{
    color: black;
}

/* Navbar */
nav{
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    list-style: none;
    gap: 48px;
    justify-content: center;
}

/* Banner style */
.banner{
    gap: 15px;
    align-items: end;
    padding-top: 106px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 13px;
}

/* Our Plants - section one */
.card-container{
    margin-top: 49px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.name{
    font-size: 1.4em;
    font-weight: 500;
    margin: 30px 0px 10px;
}
.price{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 30px;
}
.card button{
    width: 270px;
}

/* Flower & Plants Lover - section two */
.sec-two{
    padding-top: 210px;
    position: relative;
}

/* Animation */
@keyframes trusted {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.trusted-badge{
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    width: 286px;
    position: absolute;
    right: 43%;
    top: 12%;
    animation: trusted 8s linear infinite;
}
.review-container{
    gap: 110px;
    align-items: center;
}

/* Latest Deal */
.image-container{
    margin-top: 119px;
    gap: 28px;
}
.small-images{
    flex-direction: column;
    gap: 25px;
}
.image{
    width: 367px;
    height: 201px;
    background-image: url(deal-bloom.png);
    border-radius: 14px;
}
.img-card{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}
.img-card p{
    font-size: 1.25em;
    font-weight: 700;
    padding: 65px 0px 26px;
}
.img-card a{
    font-weight: 600;
}
.image-2{
    background-image: url(deal-ana.png);
}
.image-3{
    background-image: url(deal-zabo.png);
    width: 753px;
    height: 423px;
}
.img-card-3{
    padding-top: 107px;
}

/* Join the colorful bunch */
.sec-four{
    width: 1440px;
    height: 533px;
    background-image:url(news-letter-bg.png);
    margin: 120px auto 0;
    padding-top: 199px;
}
.sec-four input{
    margin-top: 23px;
    position: relative;
    width: 644px;
    height: 50px;
    padding-left: 20px;
    border: none;
}
.sec-four button{
    position: relative;
    width: 186px;
    right: 1%;
}

/* Footer section*/
footer{
    padding: 50px 0px;
    grid-template-columns: 359px 85px 128px 216px;
    column-gap: 110px;
}
.logo-container img{
    margin-bottom: 16px;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.icon{
    gap: 24px;
}
.icon img{
    width: 36px;
    height: 36px;
}






    /* Responsive for Mobile Devices */

@media screen and (max-width:576px) {
    
    /* Shared styles */
    .md-header{
        font-size: 1.5em;
    }
    .md-description{
        font-size: 1em;
        font-weight: 400;
    }

    /* Navbar */
    .hide{
        display: none;
    }
    nav{
        padding: 13px 16px;
    }
    nav img{
        width: 80px;
    }

    /* Banner */
    .banner{
        flex-direction: column-reverse;
        margin-top: 0px;
    }
    .banner-text {
        margin: 28px 16px;
    }
    .banner img{
        width: 100%;
    }
    .banner-text h1{
        font-size: 2em;
    }

    /* Our Plants */
    .sec-one {
        margin-top: 65px;
        padding: 0px 14px ;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    } 
    .card img, 
    .card button {
        width: 100%;
    }
    .name, .price{
        font-size: 1em;
    }

    /* Flower & Plants Lover */
    .sec-two{
        padding: 41px 17px;
    }
    .review-container{
    flex-direction: column;
    gap: 18px;
    }
    .review-text, .review-container img{
        width: 100%;
    }
    .review-text{
        padding-left: 20px;
    }

    /* Latest Deal */
    .sec-three{
        margin-top: 143px;
        padding:0px 17px ;
    }
    .image-container {
        margin-top: 51px;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
    .image-md{
    background-image: url(deal-zabo.png);
    width: 367px;
    height: 201px;
    }
    .img-card-md{
    padding-top:0px;
    }

    /* join section */
    .sec-four{
        padding-top: 110px;
        width: 100%;
        height: 275px;
        background-size: cover;
        background-position: center;
    }
    .sec-four h1{
        font-size: 1.25em;
        margin-bottom: 0;
    }
    .sec-four input{
        width: 218px;
    }
    .sec-four button{
        width: 103px;
    }

    /* Footer Section */
    footer{
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 50px 20px;
    }
}